

.banner {
  width: 100%;
  height: 400px;
}

.containerPost {
  max-width: 720px;
  margin: 80px auto;

  h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    color: var(--heading);
  }
}

.infoPost {
  margin-top: 25px;
  display: flex;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    color: var(--info);

    & + div {
      margin-left: 30px;
    }

    // > span {
    //   text-transform: capitalize;
    // }

    > svg {
      margin-right: 10px;
    }
  }
}

.post {
  margin-top: 60px;

  .postSection {

    & + div {
      margin-top: 50px;
    }

    h2 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 50px;
      color: var(--heading);
    }

    p {
      font-size: 18px;
      line-height: 22px;
      color: var(--body);

      & + p {
        margin-top: 25px;
      }
    }

    li {
      font-size: 18px;
      line-height: 22px;
      color: var(--body);
      margin-left: 20px;

      & + li {
        margin-top: 5px;
      }
    }
  }
}

.updatedPost {
  display: block;
  margin-top: 18px;
  color: var(--info);
  line-height: 14px;
  font-style: italic;
}
.postPagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  margin-top: 60px;
  border-top: 1px solid rgba(215, 215, 215, 0.1);


  div {
    p {
      display: block;
      font-size: 18px;
      color: var(--heading);
      line-height: 22px;
    }

    a {
      color: var(--highlight);
      font-size: 16px;
      margin-top: 8px;
      display: block;
      font-weight: 600;
    }

    &.nextPost {
      align-self: flex-end;
      margin-right: auto;

    }

    &.prevPost {
      margin-left: auto;
    }

  }
}

.buttonModePreview {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  height: 58px;
  background: var(--heading);
  margin: 88px 0px 106px;
  color: var(--background);
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}
